body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}
.logo {
  width: 145px;
  height: 31px;
  margin-left: 215px;
  margin-top: 24px;
}
.link-no-decoration {
  text-decoration: none;
}
.logo-web {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  color: #2196f3;
}
.logo-studio {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  color: #000000;
}
.ul-link-no-type {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.img-projects {
  width: 370px;
  height: 294px;
}
.figcap-headline {
  width: 322px;
  height: 36px;
  left: 239px;
  margin-left: 24px;

  font-weight: 700;
  font-size: 18px;
  line-height: 200%;

  letter-spacing: 0.06em;
}
.figcap-sub-header {
  width: 322px;
  height: 30px;
  left: 239px;
  margin-left: 24px;

  font-weight: 400;
  font-size: 16px;
  line-height: 200%;

  letter-spacing: 0.03em;

  color: #757575;
}
.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.filter-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  list-style: none;
  background-color: #f5f4fa;
  border: none;
  border-radius: 4px;
  padding: 12px 20px;
  margin: 5px;
  letter-spacing: 1px;
  cursor: pointer;
}
.filter-btn:hover {
  background-color: #2196f3;
  transition: 0.7s;
}
.filter-btn:active {
  background-color: #2196f3;
}
.filter-btn:focus {
  outline-color: transparent;
  outline-style: solid;
  box-shadow: 0 0 0 1px #2196f3;
}
.figure-column {
  margin: 30px;
  float: left;
  width: 370px;
  height: 404px;
  border: 1px solid #eeeeee;
}
.portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.portfolio:after {
  content: "";
  display: table;
  clear: both;
}
